<div class="row">
    <div class="col-12">

        {{ form_start(messageForm,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(messageForm) }}

        <div id="chat">

        </div>
        {{ form_row(messageForm.content) }}
        {{ form_row(messageForm.author) }}


        <div class="form-group">
            <button class="btn btn-success" id="sendBtn">{{ button_label|default('Wyślij !!!') }}</button>
        </div>
        {{ form_end(messageForm) }}
    </div>
</div>