{% extends 'base.html.twig' %}


{% block body %}
    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('assets/css/websocket.css') }}">

    {% endblock %}

{#    <div id="chat">#}

{#    </div>#}
{#    <div>#}
{#        <div class="form-group">#}
{#            <label for="name">Name:</label> <input type="text" id="name" value="{{ messageAuthor }}" disabled>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="message">Message:</label> <input type="text" id="message">#}
{#        </div>#}
{#        <button type="button" id="sendBtn">Send</button>#}
{#    </div>#}


    {% include 'message/_form.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <script type="application/javascript" src="{{ asset('assets/js/validator.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/websocket.js') }}"></script>
{% endblock %}
